<?xml version="1.0" encoding="UTF-8"?>

        <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_name</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">pass</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="entity.Dog" />
    </session-factory>

</hibernate-configuration>
<!-- dla linijki 9
        MySQL	Com.Mysql.Jdbc.Driver
        HSQLDB	Org.Hsqldb.JdbcDriver
        Sybase	Com.Sybase.Jdbc3.Jdbc.SybDriver
        Apache Derby	Org.Apache.Derby.Jdbc.EmbeddedDriver
        IBM DB2	Com.Ibm.Db2.Jcc.DB2Driver
        PostgreSQL	Org.Postgresql.Driver
        SQL Server (Microsoft Driver)	Com.Microsoft.Sqlserver.Jdbc.SQLServerDriver
        Informix	Com.Informix.Jdbc.IfxDriver
        H2	Org.H2.Driver
-->